@model BaseViewModel
<!DOCTYPE html>
<html lang="fr">
<head>
    @{string title = (PrenomsViewModel.PRENOMS_COUNT * 2) + " idées de prénoms par jour";

        if (ViewData["title"] != null)
        {
            title = ViewData["title"].ToString();
        }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trouve Prénom - @title">
    <meta name="author" content="Damien Mayance">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    @*<meta name="twitter:site" content="@@valryon">*@
    <meta name="twitter:creator" content="@@valryon">
    <meta name="twitter:title" content="Trouve Prénom">
    <meta name="twitter:description" content="@title">
    @*<meta name="twitter:image" content="https://getbootstrap.com/assets/brand/bootstrap-social-logo.png">*@
    <!-- Facebook -->
    <meta property="og:url" content="http://trouveprenoms.azurewebsites.net/">
    <meta property="og:title" content="Trouve Prénom">
    <meta property="og:description" content="@title">
    <meta property="og:type" content="website">
    @*<meta property="og:image" content="http://getbootstrap.com/assets/brand/bootstrap-social.png">
        <meta property="og:image:secure_url" content="https://getbootstrap.com/assets/brand/bootstrap-social.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">*@
    <title>Trouve Prénom - @title</title>
    <link rel="stylesheet" href="~/css/pure-min.css" />
    <link rel="stylesheet" href="~/css/pure-babyblue.css" />
    <link rel="stylesheet" href="~/css/grids-responsive-min.css" />
    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*</environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <script src="~/js/Chart.min.js"></script>
</head>
<body>
    <div class="layout">
        <div class="main">
            <div class="header">
                <h1>Trouve Prénom</h1>
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item @(Model.SelectedMenu == 1 ? "pure-menu-selected" : "")">
                            <a class="pure-menu-link" href="@Url.Action("Index","Home")">Aujourd'hui</a>
                        </li>
                        <li class="pure-menu-item @(Model.SelectedMenu == 2 ? "pure-menu-selected" : "")">
                            <a class="pure-menu-link" href="@Url.Action("Search","Home")">Recherche</a>
                        </li>
                        <li class="pure-menu-item @(Model.SelectedMenu == 3 ? " pure-menu-selected" : "" )">
                            <a class="pure-menu-link" href="@Url.Action("Name","Home")">Mon prénom</a>
                        </li>
                        <li class="pure-menu-item @(Model.SelectedMenu == 4 ? "pure-menu-selected" : "")">
                            <a class="pure-menu-link" href="@Url.Action("About","Home")">A Propos</a>
                        </li>
                    </ul>
                </div>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="content">
                    <p>&copy; @DateTime.Now.Year - Fait avec ♥︎ par <a href="https://dmayance.com">Damien Mayance</a></p>
                </div>
                <div class="content">
                    <p>Données fournies par <a href="https://www.insee.fr/fr/statistiques/2540004">l'INSEE</a>. Site hébergé sur <a href="https://azure.microsoft.com/fr-fr/">Azure</a>. Mis en forme par <a href="https://purecss.io/">Pure.css.</a> <a href="https://github.com/valryon/trouveprenom">Code source</a>.</p>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
