<!DOCTYPE html>
<html lang="fr">
<head>
    @{string title = (PrenomsViewModel.PRENOMS_COUNT * 2) + " idées de prénoms par jour";

      if (ViewData["title"] != null)
      {
          title = ViewData["title"].ToString();
      }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trouve Prénom - @title">
    <meta name="author" content="Damien Mayance">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    @*<meta name="twitter:site" content="@@valryon">*@
    <meta name="twitter:creator" content="@@valryon">
    <meta name="twitter:title" content="Trouve Prénom">
    <meta name="twitter:description" content="@title">
    @*<meta name="twitter:image" content="https://getbootstrap.com/assets/brand/bootstrap-social-logo.png">*@
    <!-- Facebook -->
    <meta property="og:url" content="http://trouveprenoms.azurewebsites.net/">
    <meta property="og:title" content="Trouve Prénom">
    <meta property="og:description" content="@title">
    <meta property="og:type" content="website">
    @*<meta property="og:image" content="http://getbootstrap.com/assets/brand/bootstrap-social.png">
        <meta property="og:image:secure_url" content="https://getbootstrap.com/assets/brand/bootstrap-social.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">*@
    <title>Trouve Prénom - @title</title>
    <link rel="stylesheet" href="~/css/pure-min.css" />
    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*</environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <script src="~/js/Chart.min.js"></script>
</head>
<body>
    <div class="layout">
        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="/">Trouve Prénom</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="@Url.Action("Index","Home")">Prénoms du jour</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="@Url.Action("Search","Home")">Recherche avancée</a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="@Url.Action("Name","Home")">Mon prénom</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="https://dmayance.com/" class="pure-menu-link">Autres projets</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="header">
                <h1>Trouve Prénom</h1>
                <h2>@ViewData["title"].ToString();</h2>
            </div>
            <div>
                @RenderBody()
            </div>
            <div class="footer">
                <hr />
                <div class="content">
                    <div class="pure-g">
                        <p>&copy; 2018 - <a href="https://dmayance.com">Damien Mayance</a></p>
                    </div>
                    <div class="pure-g">
                        <p>Données fournies par <a href="https://www.insee.fr/fr/statistiques/2540004">l'INSEE</a>.
                    </div>
            </div>
            </div>
        </div>
    </div>
</body>

@RenderSection("Scripts", required: false)
</body>
</html>
