@model PrenomsViewModel

<h2>Garçon</h2>

<li>
    @foreach (Prenom g in Model.Boys)
    {
        @Html.Partial("_PrenomWidget", g)
    }
</li>

<h2>Fille</h2>
<li>
    @foreach (Prenom f in Model.Girls)
    {
        @Html.Partial("_PrenomWidget", f)
    }
</li>

<p>
    @Html.ActionLink("<-", "CustomDate", "Home", new { dateString = Model.PreviousDateString }) 
    @Model.DateString
    @if (Model.IsTodayOrFuture == false)
    {
        @Html.ActionLink("->", "CustomDate", "Home", new { dateString = Model.NextDateString })
    }
</p>